body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
}


body {
    background-image: radial-gradient(circle, #ff0000, #da2009, #b72a10, #942d15, #732c19, #60271b, #4c221c, #381e1b, #2c1818, #201314, #140b0c, #000000);
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

.stacked-imagine {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    text-align: center;
    transition: transform 0.5s ease, gap 0.5s ease;
    cursor: pointer;
}

.stacked-imagine:hover {
    transform: translateY(40px); 
}

.stacked-imagine span {
    font-size: 3rem;
    transition: transform 5s ease, opacity 0.5s ease, font-size 3s ease;
}

.stacked-imagine:hover span:first-child {
    transform: translateY(-40px);
    font-size: 6rem;
}

.stacked-imagine:hover span:first-child:hover {
    animation: rainbow 1s linear infinite; 
    font-style: italic;
}


.stacked-imagine:hover span:nth-child(2) {
    transform: translateY(-15px); 
    opacity: 0.75;
}

.stacked-imagine:hover span:nth-child(3) {
    transform: translateY(0px); 
    opacity: 0.5;
}

.stacked-imagine:hover span:nth-child(4) {
    transform: translateY(15px); 
    opacity: 0.25;
}

@keyframes rainbow {
    0% { color: rgb(255, 82, 82); }
    16.6% { color: orange; }
    33.3% { color: yellow; }
    50% { color: rgb(45, 255, 45); }
    66.6% { color: rgb(88, 88, 255); }
    83.3% { color: rgb(166, 42, 255); }
    100% { color: rgb(255, 82, 82); }
}


/*LINES 1-4*/

.lines1-4 {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    text-align: center;
    transition: transform 0.5s ease, gap 0.5s ease;
    cursor: pointer;
    transform: translateY(-100px);
}

.lines1-4:hover {
    transform: translateY(-110px); 
}

.lines1-4 span {
    font-size: 3rem;
    transition: transform 5s ease, opacity 0.5s ease, font-size 3s ease;
}

.lines1-4:hover span:first-child {
    transform: translateY(-50px);
    transform:scale(0.7); 
}

.lines1-4:hover span:nth-child(2) {
    transform: translateY(-40px);
    font-size: 4rem;
}

.lines1-4:hover span:nth-child(2):hover {
    animation: rainbow 1s linear infinite; 
    font-style: italic;
}

.lines1-4:hover span:nth-child(3) {
    transform: translateY(0px);
    transform:scale(0.9); 
}

.lines1-4:hover span:nth-child(4) {
    transform: translateY(15px); 
    transform:scale(0.9); 
}

.fade {
    animation: secthenfade 9s;
}

.heaven {
    animation: heaven 3s infinite;
    background: linear-gradient(to bottom, #ffd138, #ffffff); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
}

.hell {
    animation: hell 3s infinite;
    background: linear-gradient(to bottom, #ff6363, #ffffff); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
}

.heavenline {
animation: heavenline 2s;
}

.hellline {
    animation: hellline 4s;
}

.sky {
    font-size: 600px;
    animation: sky 10s;
    background: linear-gradient(to bottom, #006385, #ffffff); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
}

div {
    display: inline-block;
}


@keyframes rainbow {
    0% { color: rgb(255, 82, 82); }
    16.6% { color: orange; }
    33.3% { color: yellow; }
    50% { color: rgb(45, 255, 45); }
    66.6% { color: rgb(88, 88, 255); }
    83.3% { color: rgb(166, 42, 255); }
    100% { color: rgb(255, 82, 82); }
}

@keyframes secthenfade {
    0% {transform: translateX(-40px); opacity: 0;}
    50% {transform: translateX(-40px); opacity: 0;}
    100% {transform: translateX(0px);}
}

@keyframes heaven {
    0% {
        text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255);
    }
    50% {

    }
    100% {
 
    } 
}

@keyframes hell {
    0% {

        text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
    }
    50% {

        text-shadow: 0 0 10px darkred, 0 0 20px darkred, 0 0 30px darkred;
    }
    100% {

        text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
    }
}

@keyframes heavenline{
    0% {opacity: 0;}
}

@keyframes hellline{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes sky{
    0% {opacity: 0;}
    50% {opacity: 0; transform: translateY(100%);}

}






/*LINES 5-6*/

.lines5-6 {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 10px;
    text-align: center;
    transition: transform 0.5s ease, gap 0.5s ease;
    cursor: pointer;
}

.lines5-6:hover {
    transform: translateY(10px); 
}

.lines5-6 span {
    font-size: 3rem;
    opacity: 0.8; 
    transition: transform 0.3s ease, opacity 0.5s ease; 
}

.lines5-6:hover span:first-child {
    transform: rotate(-10deg) translateY(-30px); 
    opacity: 1; 
    font-size: 6rem;
}

.lines5-6:hover span:first-child:hover {
    animation: rainbow 1s linear infinite; 
    font-style: italic;
}


.lines5-6:hover span:nth-child(2) {
    transform: rotate(10deg) translateY(-10px); 
    opacity: 1; 
}

.lines5-6:hover span:nth-child(3) {
    transform: translateY(5px) scale(1.05); 
    opacity: 0.9;
}

.lines5-6:hover span:nth-child(4) {
    transform: rotate(-5deg) translateY(10px); 
    opacity: 1; 
}

@keyframes rainbow {
    0% { color: rgb(255, 82, 82); }
    16.6% { color: orange; }
    33.3% { color: yellow; }
    50% { color: rgb(45, 255, 45); }
    66.6% { color: rgb(88, 88, 255); }
    83.3% { color: rgb(166, 42, 255); }
    100% { color: rgb(255, 82, 82); }
}









/*LINES 7-10*/
.lines7-10 {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    gap: 10px; 
    text-align: center;
    transition: transform 0.5s ease, gap 0.5s ease;
    cursor: pointer;
    transform: translateY(-100px);
}

.lines7-10:hover {
    transform: translateY(-110px); 
}

.lines7-10 span {
    font-size: 3rem;
    transition: transform 5s ease, opacity 0.5s ease, font-size 3s ease;
}

.lines7-10 span:first-child:hover {
    animation: rainbow 1s linear infinite; /* Apply rainbow only to the first child */
    transform: translateY(-50px);
    transform: scale(1.2);
    font-style: italic;
}

.lines7-10:hover span:nth-child(2) {
    transform: translateY(0px);
    transform: scale(0.9); 
}

.lines7-10:hover span:nth-child(3) {
    transform: translateY(0px);
    transform: scale(0.9); 
}

.lines7-10:hover span:nth-child(4) {
    transform: translateY(15px); 
    transform: scale(0.9); 
}

.fadeIn {
    animation: slideInFromLeft 3s forwards;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        color: rgb(112, 0, 0);
    }
}

@keyframes rainbow {
    0% { color: rgb(255, 82, 82); }
    16.6% { color: orange; }
    33.3% { color: yellow; }
    50% { color: rgb(45, 255, 45); }
    66.6% { color: rgb(88, 88, 255); }
    83.3% { color: rgb(166, 42, 255); }
    100% { color: rgb(255, 82, 82); }
}






/*LINES 11-12*/
.lines11-12 {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    text-align: center;
    transition: transform 0.5s ease, gap 0.5s ease;
    cursor: pointer;
}

.lines11-12:hover {
    transform: translateY(10px); 
}

.lines11-12 span {
    font-size: 3rem;
    transition: transform 0.3s ease, opacity 0.5s ease; 
}

.lines11-12:hover span:first-child:hover {
    animation: rainbow 1s linear infinite; 
    font-style: italic;
}


.lines11-12:hover span:first-child {
    transform: rotate(5deg) translateY(-30px); 
    opacity: 1; 
    font-size: 6rem;
}

.lines11-12:hover span:nth-child(2) {
    transform: rotate(-10deg) translateY(-10px); 
    opacity: 1; 
}

.lines11-12:hover span:nth-child(3) {
    transform: translateY(3px) scale(0.5); 
    opacity: 1;
}

@keyframes rainbow {
    0% { color: rgb(255, 82, 82); }
    16.6% { color: orange; }
    33.3% { color: yellow; }
    50% { color: rgb(45, 255, 45); }
    66.6% { color: rgb(88, 88, 255); }
    83.3% { color: rgb(166, 42, 255); }
    100% { color: rgb(255, 82, 82); }
}




/*LINES 13-16*/

.lines13-16 {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    text-align: center;
    transition: transform 0.5s ease, gap 0.5s ease;
    cursor: pointer;
}

.lines13-16:hover {
    transform: translateY(-20px); 
}

.lines13-16 span {
    font-size: 3rem;
    transition: transform 5s ease, opacity 5s ease, font-size 3s ease;
}


.lines13-16:hover span:first-child {
    transform: translateY(30px); 
    font-size: 0.5rem;
    opacity: 0.2;
}

.lines13-16:hover span:nth-child(2) {
    transform: translateY(15px); 
    font-size: 1rem;
    opacity: 0.3;
}

.lines13-16:hover span:nth-child(3) {
    transform: translateY(0px); 
    font-size: 1.5rem;
    opacity: 0.4;
}

.lines13-16:hover span:nth-child(4) {
    transform: translateY(-15px); 
    font-size: 2.5rem;
    opacity: 0.5;

}

.lines13-16:hover span:nth-child(5):hover {
    animation: rainbow 1s linear infinite; 
    font-style: italic;
}

.lines13-16:hover span:nth-child(5) {
    transform: translateY(-40px);
    font-size: 24rem;

}